{% extends 'core/base.html' %}



{% block body_title %}
    {% if form.instance.pk %}
        Jugadores: Edición
    {% else %}
        Jugadores: Creación
    {% endif %}
{% endblock body_title %}

{% block content %}
<form method="post" class="container">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <table class="table">
                        {{ form.as_table }}
                    </table>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock content %}
    